<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ゲーム説明</title>
  <link rel="stylesheet" href="/css/style.css"> 

</head>
<body>


  <%- include('header2'); %>
<div class="purofi-ru">
<br>
<div>ゲーム制作初心者だったため、クリック式の簡単なゲームを作りました。</div>
<div>
所持金は大切で、兵を雇ったりパラメータを上げたり、強い装備を持たせたりするのに必要になります。
</div>
お金が１０００未満になると、１００００のお金がもらえるボタンが出現します。<br>
<div>兵を雇って敵を倒すと、階級を上げる経験値がもらえます。</div>
<div>
階級をドンドン上げていって強い敵に勝てるようにして、どんどん突き進んでいくゲームです。
</div>
<div>
・こだわりポイント
</div>
<div>
ユーザー事に登録してもらっているのは、そのデータをデータベースに保存して再度プレーする際もデータを引き継げるようにしたかったからです。
</div>
<div>
また、敵のデータや雇う兵などもデータベースで管理しているため、データベースに追加するだけで、新しい兵や装備、敵などもすぐに<br>
追加されるようにプログラムされています。また、敵と戦うバトルではボタンを押した瞬間に兵が減るようにする事で、<br>
意図的なやり直しができないようにしました。
</div>
<div>
ユーザーが操作するごとにデータベースに保存できるオートセーブがNode.jsでは簡単に実装できるのでとても便利に感じました。
</div>
</div>
</body>
</html>