<header>

  <div class="header-nav">
  <div class = menu >
    <div class= menu2> <a href="/">クリック型RPGゲーム</a> </div>
    <div class= menu2><a href='/purofi-ru'>自己紹介・簡単な経歴</a></div>
    <div class= menu2><a href='/saito'>他のサイトの制作物</a></div>
    <div class= menu2><a href='/gamesetumei'>ゲームの説明、こだわり</a></div>
    </div>
    
  </div>
</header>