<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ログイン画面</title>
  </head>
  <body>
          <h2>ログイン画面</h2>

          <form action="/login" method="post">
            <p>登録したID</p>
            <input type="text" name="userID">
            <p>パスワード</p>
            <input type="password" name="pass">
            <input type="submit" value="ログイン">
          </form>
          <a href="/">トップに戻る</a>
        </div>
      </div>
    </div>
  </body>
</html>