<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プロゲートで学んだことの確認</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  <h1>Hello World</h1>
  <h2>ハロー　ニイハオ　こんにちわ</h2>
  <% const item = {id: 'ID', name: 'とまと'} %>

 <p>
  <%= item.id %>
  <%= item.name %>
 </p> 

<form action="/create" method="post" enctype="multipart/form-data">
<h3>画像をアップロードする</h3>
<input type="file" name="imageFile" accept="image/*" >
<input type="submit" >
</form>
<div>


 

</div>
</body>
</html>