<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>プロフィール</title>
  <link rel="stylesheet" href="/css/style.css"> 

</head>
<body>


  <%- include('header2'); %>
<div class="purofi-ru">
<%# <span> <img class="gazou" src="/images/tyattoGPT_gazou.webp"></span> %>
<div>ニックネーム：ゼルシム</div>
<div>年齢：３５歳（２０２４年、現在）</div>
<div>出身：東京都</div>
<div>プログラミング歴</div>


<div>2008年東京工科大学コンピュータサイエンス学部入学</div>
<div>JavaとC言語の基礎を学ぶ</div>
<div>体調が悪くなり大学を休学・中退</div> 
<div>２０２１年作業所に通うようになる。そこでHTML・CSS・javascriptの基礎を学ぶ。</div>
<div>２０２３年就労移行に通うようになる。</div>
<div>PROGATE(プロゲート)の有料プランでNode.js MySQLなどでアプリケーションを作る技術を学ぶ</div>
<div>プロゲートで学んだ事と、チャットGPTを駆使してポートフォリオを作成して公開。</div>
<br>
<br>
<div>ゲーム制作に使った言語（⭐️は理解度です。）</div>
<div>Node.js（javascriptのサーバーサイド版）（⭐️⭐️⭐️⭐️）</div>
<div>MySQL(データベース）)(⭐️⭐️⭐️⭐️⭐️)</div>
<div>html(⭐️)</div> 
<div>css(⭐️)</div>
<div>javascript(⭐️⭐️)</div>
<div>テンプレート言語 ejs(⭐️⭐️⭐️)</div>
<div>GIT GITHUB(⭐️)</div>
<br>
<br>
<div>趣味</div>
<div>シャドウバース（グラマス到達十五回以上）</div>
<div>将棋（将棋ウォーズ初段）</div>
<div>オセロ（オセロクエスト初段）</div>
<div>囲碁（大学生の時は初段 最近できてないので鈍ってそう）</div>
<div>麻雀（可もなく不可もなく。守り重視の麻雀です。賭け麻雀は好きじゃない。）</div>
<br>
<br>

</div>


</body>
</html>