<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>他のサイトの制作物</title>
  <link rel="stylesheet" href="/css/style.css"> 

</head>
<body>

  <%- include('header2'); %>
<div class="purofi-ru">
<br>
<div>こちらはWordPressで作りました。
</div>
<br>
<br>
<div>
<a href = "https://www.hibiscus2017.tokyo/">高円寺 カラオケ居酒屋ハイビスカス
</div>
<div>
<img class="gazou2" src="/images/haibisukasu.png"></a>
</div>
</div>
</body>
</html>