<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
  <link rel="stylesheet" href="/css/style.css"> 

</head>
<body>

  <%- include('header'); %>

  <p>
    トップページです。
  </p>
 <!--  
 <div><a href="/login">ログイン</a></div>

  <img src="/images/sample1.jpeg">
  <div>
    <a href="/index2" class="index-button">画像のアップロード画面を開く</a>
  </div>

 -->
  <div><a href='/signup'>新規登録</a></div>
 
 
</body>
</html>