p{
  color:blue
}
h2{
  color:red
}
h1{
  color:brown
}
.menu{
  display: flex;
  margin: 10px auto 0px auto;

  background-color: rgba(14, 14, 241, 0.95); 
}
.box{
  display: flex;
}

.menu2{
  margin: 0px 50px;
  color: white;
  display: inline-block;
  transition: all .3s ease 0s;
  text-decoration: none;  
}

.menu2:hover{
  color: white;
  transform: scale(1.2); /* 1.1倍に拡大 */
}
.menu2 a:link {
  color: white;
}

.menu2 a:visited {
  color: white;
}

.mmenu2 a:active {
  color: white;
}

.gazou{
  width: 200px;
  height:200px;
}
.gazou2{
  width: 40%;
  height:40%; border-radius: 30px 30px 30px 30px;

}

.yokonarabe{
  display: flex;
}
.sute-tasu{
  display: flex;
}

.supe-su{
  margin: 0px 5px 0px 0px;
}
.purofi-ru{
  letter-spacing:0.2em;
}